//! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/
@import 'compass';
@import 'compass/css3';
@import 'vars';
@import 'normalize';

//GLOBAL

html,
body {
  font-family: 'Heebo', sans-serif;
  height: 100%;
}

* {
  @include box-sizing();
}

.section {
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  width: 100vw;
}

.section--main {
  background: $main-bg-color;
  color: $white;
  z-index: 1;
}

.section--work {
  background: $work-bg-color;
  color: $white;
  z-index: 2;
}

.section--about {
  background: $about-bg-color;
  color: $white;
  z-index: 3;
}

.section--contact {
  background: $contact-bg-color url('img/selfie-mobile.png') no-repeat center bottom;
  background-size: 100%;
  color: $white;
  z-index: 4;
}

.section__wrapper {
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

//MAIN SECTION

.header {
  display: block;
  text-align: center;
  width: 100%;
}

.header__title {
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

.header__subtitle {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

//NAV

.menu {
  font-family: 'Heebo', sans-serif;
  position: relative;
  z-index: 7;
}

.menu__list {
  margin: 0;
  padding: 0;
}

.menu__item {
  list-style-type: none;

  &:hover {
    .link-menu__line__path {
      stroke-dasharray: 40, 0;
      stroke-dashoffset: 0;
    }
  }
}

.menu__link {
  background: none;
  border: 0;
  color: $white;
  display: block;
  font-size: 1.5rem;
  height: 40px;
  margin: 5px 0;
  outline: none;
  padding: 0;
  position: relative;
  text-decoration: none;
}

.menu__link--work {
  width: 100px;
}

.menu__link--about {
  width: 116px;
}

.menu__link--contact {
  width: 150px;
}

.menu__line {
  @include transition(stroke-dashoffset .3s);
  @include opacity(0);
  fill: none;
  height: 60px;
  left: 0;
  position: absolute;
  stroke: $white;
  stroke-width: 6px;
  top: 0;
  z-index: 2;

  &:hover {
    stroke-dashoffset: 0;
  }
}

.menu__line--work {
  stroke-dasharray: 320px;
  stroke-dashoffset: 320px;
}

.menu__line--about {
  stroke-dasharray: 355px;
  stroke-dashoffset: 355px;
}

.menu__line--contact {
  stroke-dasharray: 430px;
  stroke-dashoffset: 430px;
}

.menu__link-text {
  display: block;
  left: 0;
  letter-spacing: 4px;
  line-height: 60px;
  margin-left: 6px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

//MAIN SECTION

.main-title {
  @include transform(translate(-50%, -50%));
  display: none;
  font-family: 'Source Code Pro', monospace;
  font-size: 7rem;
  left: 50%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  z-index: 2;
}

.section__main--canvas {
  @include transform(translate(-50%, -50%));
  left: 50%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  z-index: 1;
}


.link {
  @include inline-block();
  @include border-radius(4px);
  border: 2px solid $white;
  color: $white;
  cursor: pointer;
  display: block;
  font-family: 'Source Code Pro', monospace;
  font-size: 1.3rem;
  line-height: 3;
  margin: 20px auto;
  max-width: 360px;
  position: relative;
  text-align: center;
  text-decoration: none;
  z-index: 1;

  &::before {
    @include transition(opacity .3s);
    @include opacity(0);
    background: $white;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}

.link:hover {
  color: $grey;

  &::before {
    @include opacity(1);
  }
}

.section__header {
  font-family: 'Source Code Pro', monospace;
  font-size: 3rem;
  margin: 0 0 40px;
  padding: 0;
  text-align: center;
}

//WORK

.campaign {
  display: flex;
  flex-wrap: wrap;
}

.campaign__holder {
  background-size: cover;
  cursor: pointer;
  height: 250px;
  margin: 0 auto 20px;
  position: relative;
  width: 300px;
}

.campaign__holder--inner {
  margin: 0;
  overflow: hidden;
}

.campaign__holder--lego {
  background-image: url('img/lego.jpg');
}

.campaign__holder--adidas {
  background-image: url('img/adidas.jpg');
}

.campaign__holder--reebok {
  background-image: url('img/reebok.jpg');
}

.campaign__slider {
  @include translateY(172px);
  @include transition(all .2s ease);
  background: rgba($campaign-title-bg-color, .7);
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;

}

.campaign__title {
  color: $black;
  font-size: 1.7rem;
  margin: 0;
  padding: 19px 0;
  text-align: center;
  width: 100%;
}

.campaign__details {
  color: $black;
}

.campaign__detail-list {
  @include transition(all .2s ease);
  @include opacity(0);
  @include translateY(250px);
  list-style-type: none;
}

.link__campaign {
  @include translateX(-50%);
  @include transition(opacity .2s ease);
  @include transition-delay(.3s);
  @include opacity(0);
  border: 2px solid $black;
  bottom: 10px;
  color: $black;
  font-size: 1rem;
  left: 50%;
  position: absolute;
  width: 200px;
}

@for $i from 1 through 3 {
  .campaign__detail-list-#{$i} {
    @include transition-delay(.1s + ($i / 10));
  }
}

.campaign__holder:hover,
.campaign__holder:focus {

  .campaign__slider {
    @include translateY(0);
    background: rgba($campaign-title-bg-color, .9);
  }

  .campaign__detail-list {
    @include translateY(0);
    @include opacity(1);
  }

  .link__campaign {
    @include opacity(1);
  }
}

.campaign__iframe {
  height: 250px;
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 300px;
  z-index: 2;
}

//ABOUT

.instagram-feed {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.insta-feed--container {
  margin: 0 auto 20px;
  min-height: 190px;
  position: relative;
  width: 100%;
}

.insta-feed--image {
  @include transition(transform .3s);
  max-width: 100%;
}

//CONTACT

.selfie-img {
  bottom: 0;
  position: absolute;
  right: 10%;
}


@media #{$xtra-small-devices} {

  .link {
    margin: 0;
  }

  //ABOUT
  .insta-feed--container {
    flex-basis: 45%;
  }

  //CONTACT

  .link__contact {
    margin-bottom: 20px;
  }
}

@media #{$small-devices} {

  //GLOBAL

  .section--contact {
    background: $contact-bg-color url('img/selfie.png') no-repeat right bottom;
  }

  //MAIN SECTION

  .header {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    width: 100%;
  }

  .header__title {
    border-right: 2px solid $white;
    font-size: 2.5rem;
    margin-right: 10px;
    padding-right: 10px;
  }

  //NAV
  .menu__link {
    font-size: 2rem;
    height: 60px;
    margin: 5px 0;
  }

  .menu__line {
    @include opacity(1);
  }

  //CANVAS-TITLE

  .main-title {
    display: block;
  }

  //ABOUT
  .insta-feed--container {
    flex-basis: 30%;
  }

}

@media #{$medium-size} {

  //WORK

  .campaign__svg {
    display: block;
  }
}
