$white: #fff;
$black: #000;
$grey: #666;

$main-bg-color: #4b72ff;
$work-bg-color: $black;
$about-bg-color: #4b72ff;
$contact-bg-color: $grey;
$campaign-title-bg-color: rgb(255, 255, 255);

//MEDIA QUERIES

$xtra-small-devices: 'only screen and (min-width : 480px)';
$small-devices: 'only screen and (min-width : 768px)';
$medium-size: 'only screen and (min-width : 992px)';
$large-size: 'only screen and (min-width : 1200px)';
